.responseCard {
  display: flex;
  justify-content: center;
  background-color: white;
}

.title {
  display: flex;
  justify-content: center;
  background-color: white;
  text-align: center;
}

.input {
  display: flex;
  justify-content: center;
  background-color: white;
  text-align: center;
}

.grid {
  background-color: white;
}

.box {
  background-color: white;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
